<a href="https://colab.research.google.com/github/flohmannjr/PJI410/blob/main/PJI410_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PJI410 - Dados

## SRAG 2021 a 2023 - Banco de Dados de Síndrome Respiratória Aguda Grave

Dados atualizados até 22 de Fevereiro de 2023

https://opendatasus.saude.gov.br/dataset/srag-2021-a-2023

# Importações

In [1]:
import numpy as np
import pandas as pd

# Configurações

In [2]:
DIAGNOSTICOS = {1: 'SRAG por Influenza',
                2: 'SRAG por outro vírus respiratório',
                3: 'SRAG por outro agente etiológico',
                4: 'SRAG não especificado',
                5: 'SRAG por COVID-19'}

ESCOLARIDADES = {0: 'Sem escolaridade / Analfabeto',
                 1: 'Fundamental 1º ciclo (1ª a 5ª série)',
                 2: 'Fundamental 2º ciclo (6ª a 9ª série)',
                 3: 'Médio (1º ao 3º ano)',
                 4: 'Superior'}

EVOLUCOES = {1: 'Cura',
             2: 'Óbito',
             3: 'Óbito por outras causas'}

RACAS = {1: 'Branca',
         2: 'Preta',
         3: 'Amarela',
         4: 'Parda',
         5: 'Indígena'}

SEXOS = {1: 'Masculino',
         2: 'Feminino'}

ZONAS = {1: 'Urbana',
         2: 'Rural',
         3: 'Periurbana'}

# Dados

In [3]:
!wget https://raw.githubusercontent.com/flohmannjr/PJI410/main/dados/openDataSUS.7z.001
!wget https://raw.githubusercontent.com/flohmannjr/PJI410/main/dados/openDataSUS.7z.002
!wget https://raw.githubusercontent.com/flohmannjr/PJI410/main/dados/openDataSUS.7z.003
!wget https://raw.githubusercontent.com/flohmannjr/PJI410/main/dados/openDataSUS.7z.004

!7z e /content/openDataSUS.7z.001

--2023-03-22 16:52:35--  https://raw.githubusercontent.com/flohmannjr/PJI410/main/dados/openDataSUS.7z.001
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 25165824 (24M) [application/octet-stream]
Saving to: ‘openDataSUS.7z.001’

openDataSUS.7z.001  100%[===================>]  24.00M   158MB/s    in 0.2s

2023-03-22 16:52:39 (158 MB/s) - ‘openDataSUS.7z.001’ saved [25165824/25165824]

--2023-03-22 16:52:39--  https://raw.githubusercontent.com/flohmannjr/PJI410/main/dados/openDataSUS.7z.002
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.109.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 25165824 (24M) [application/octet-stream]
Saving to: ‘openDataSUS.7z.002’

openDataSUS.7z.002  100%[===================>]  24.00M   149MB/s    in 0.2s

2023-03-22 16:52:40 (149 MB/s) - ‘openDataSUS.7z.002’ saved [25165824/25165824]

--2023-03-22 16:52:40--  https://raw.githubusercontent.com/flohmannjr/PJI410/main/dados/openDataSUS.7z.003
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.109.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 25165824 (24M) [application/octet-stream]
Saving to: ‘openDataSUS.7z.003’

openDataSUS.7z.003  100%[===================>]  24.00M  74.1MB/s    in 0.3s

2023-03-22 16:52:42 (74.1 MB/s) - ‘openDataSUS.7z.003’ saved [25165824/25165824]

--2023-03-22 16:52:42--  https://raw.githubusercontent.com/flohmannjr/PJI410/main/dados/openDataSUS.7z.004
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12897105 (12M) [application/octet-stream]
Saving to: ‘openDataSUS.7z.004’

openDataSUS.7z.004  100%[===================>]  12.30M  --.-KB/s    in 0.1s

2023-03-22 16:52:43 (115 MB/s) - ‘openDataSUS.7z.004’ saved [12897105/12897105]


7-Zip [64] 16.02 : Copyright (c) 1999-2016 Igor Pavlov : 2016-05-21
p7zip Version 16.02 (locale=en_US.UTF-8,Utf16=on,HugeFiles=on,64 bits,2 CPUs Intel(R) Xeon(R) CPU @ 2.20GHz (406F0),ASM,AES-NI)

Scanning the drive for archives:
  0M Scan /content/                   1 file, 25165824 bytes (24 MiB)

Extracting archive: /content/openDataSUS.7z.001
  0% 1 Open           --
Path = /content/openDataSUS.7z.001
Type = Split
Physical Size = 25165824
Volumes = 4
Total Physical Size = 88394577
----
Path = openDataSUS.7z
Size = 88394577
--
Path = openDataSUS.7z
Type = 7z
Physical Size = 88394577
Headers Size = 218
Method = LZMA:27
Solid = +
Blocks = 1

  0%      1% - INFLUD21-20-02-2023.csv                                2% - INFLUD21-20-02-2023.csv                                3% - INFLUD21-20-02-2023.csv                                5% - INFLUD21-20-02-2023.csv                                6% - INFLUD21-20-02-2023.csv                                7% - INFLUD21-20-02-2023.csv                                8% - INFLUD21-20-02-2023.csv                                9% - INFLUD21-20-02-2023.csv                               10% - INFLUD21-20-02-2023.csv                               11% - INFLUD21-20-02-2023.csv                               12% - INFLUD21-20-02-2023.csv                               13% - INFLUD21-20-02-2023.csv                               14% - INFLUD21-20-02-2023.csv                               15% - INFLUD21-20-02-2023.csv                               16% - INFLUD21-20-02-2023.csv                               17% - INFLUD21-20-02-2023.csv                               18% - INFLUD21-20-02-2023.csv                               19% - INFLUD21-20-02-2023.csv                               20% - INFLUD21-20-02-2023.csv                               21% - INFLUD21-20-02-2023.csv                               22% - INFLUD21-20-02-2023.csv                               23% - INFLUD21-20-02-2023.csv                               24% - INFLUD21-20-02-2023.csv                               26% - INFLUD21-20-02-2023.csv                               27% - INFLUD21-20-02-2023.csv                               28% - INFLUD21-20-02-2023.csv                               29% - INFLUD21-20-02-2023.csv                               30% - INFLUD21-20-02-2023.csv                               31% - INFLUD21-20-02-2023.csv                               32% - INFLUD21-20-02-2023.csv                               33% - INFLUD21-20-02-2023.csv                               35% - INFLUD21-20-02-2023.csv                               36% - INFLUD21-20-02-2023.csv                               38% - INFLUD21-20-02-2023.csv                               39% - INFLUD21-20-02-2023.csv                               41% - INFLUD21-20-02-2023.csv                               42% - INFLUD21-20-02-2023.csv                               43% - INFLUD21-20-02-2023.csv                               44% - INFLUD21-20-02-2023.csv                               45% - INFLUD21-20-02-2023.csv                               46% - INFLUD21-20-02-2023.csv                               47% - INFLUD21-20-02-2023.csv                               48% - INFLUD21-20-02-2023.csv                               50% - INFLUD21-20-02-2023.csv                               51% - INFLUD21-20-02-2023.csv                               52% - INFLUD21-20-02-2023.csv                               53% - INFLUD21-20-02-2023.csv                               54% - INFLUD21-20-02-2023.csv                               55% - INFLUD21-20-02-2023.csv                               56% - INFLUD21-20-02-2023.csv                               57% - INFLUD21-20-02-2023.csv                               58% - INFLUD21-20-02-2023.csv                               59% - INFLUD21-20-02-2023.csv                               60% - INFLUD21-20-02-2023.csv                               61% - INFLUD21-20-02-2023.csv                               62% - INFLUD21-20-02-2023.csv                               63% - INFLUD21-20-02-2023.csv                               64% - INFLUD21-20-02-2023.csv                               65% - INFLUD21-20-02-2023.csv                               66% - INFLUD21-20-02-2023.csv                               67% - INFLUD21-20-02-2023.csv                               68% - INFLUD21-20-02-2023.csv                               69% - INFLUD21-20-02-2023.csv                               70% - INFLUD21-20-02-2023.csv                               72% - INFLUD21-20-02-2023.csv                               73% 1 - INFLUD22-13-02-2023.csv                                 75% 1 - INFLUD22-13-02-2023.csv                                 77% 1 - INFLUD22-13-02-2023.csv                                 79% 1 - INFLUD22-13-02-2023.csv                                 81% 1 - INFLUD22-13-02-2023.csv                                 83% 1 - INFLUD22-13-02-2023.csv                                 84% 1 - INFLUD22-13-02-2023.csv                                 86% 1 - INFLUD22-13-02-2023.csv                                 88% 1 - INFLUD22-13-02-2023.csv                                 90% 1 - INFLUD22-13-02-2023.csv                                 92% 1 - INFLUD22-13-02-2023.csv                                 94% 1 - INFLUD22-13-02-2023.csv                                 96% 1 - INFLUD22-13-02-2023.csv                                 98% 1 - INFLUD22-13-02-2023.csv                                Everything is Ok

Files: 3
Size:       1417625450
Compressed: 88394577

In [4]:
dtypes = {'AMOSTRA': 'Int32', 'ANTIVIRAL': 'Int32', 'AN_ADENO': 'Int32', 'AN_OUTRO': 'Int32', 'AN_PARA1': 'Int32',
          'AN_PARA2': 'Int32', 'AN_PARA3': 'Int32', 'AN_SARS2': 'Int32', 'AN_VSR': 'Int32', 'ASMA': 'Int32',
          'AVE_SUINO': 'Int32', 'CARDIOPATI': 'Int32', 'CLASSI_FIN': 'Int32', 'CLASSI_OUT': 'string',
          'COD_IDADE': 'string', 'CO_MUN_NOT': 'Int32', 'CO_MUN_RES': 'Int32', 'CO_MU_INTE': 'Int32',
          'CO_PAIS': 'Int32', 'CO_PS_VGM': 'string', 'CO_REGIONA': 'Int32', 'CO_RG_INTE': 'Int32',
          'CO_RG_RESI': 'Int32', 'CO_UNI_NOT': 'Int32', 'CRITERIO': 'Int32', 'CS_ESCOL_N': 'Int32',
          'CS_GESTANT': 'Int32', 'CS_RACA': 'Int32', 'CS_SEXO': 'string', 'CS_ZONA': 'Int32',
          'DESC_RESP': 'Int32', 'DIABETES': 'Int32', 'DIARREIA': 'Int32', 'DISPNEIA': 'Int32',
          'DOR_ABD': 'Int32', 'DOSE_1_COV': 'string', 'DOSE_2_COV': 'string', 'DOSE_REF': 'string',
          'DS_AN_OUT': 'string', 'DS_PCR_OUT': 'string', 'DT_1_DOSE': 'string', 'DT_2_DOSE': 'string',
          'DT_ANTIVIR': 'string', 'DT_COLETA': 'string', 'DT_CO_SOR': 'string', 'DT_DIGITA': 'string',
          'DT_DOSEUNI': 'string', 'DT_ENCERRA': 'string', 'DT_ENTUTI': 'string', 'DT_EVOLUCA': 'string',
          'DT_INTERNA': 'string', 'DT_NASC': 'string', 'DT_NOTIFIC': 'string', 'DT_PCR': 'string',
          'DT_RAIOX': 'string', 'DT_RES': 'string', 'DT_RES_AN': 'string', 'DT_RT_VGM': 'string',
          'DT_SAIDUTI': 'string', 'DT_SIN_PRI': 'string', 'DT_TOMO': 'string', 'DT_UT_DOSE': 'string',
          'DT_VAC_MAE': 'string', 'DT_VGM': 'string', 'ESTRANG': 'Int32', 'EVOLUCAO': 'Int32',
          'FAB_COVREF': 'string', 'FAB_COV_1': 'string', 'FAB_COV_2': 'string', 'FADIGA': 'Int32',
          'FATOR_RISC': 'Int32', 'FEBRE': 'Int32', 'FLUASU_OUT': 'string', 'FLUBLI_OUT': 'string',
          'FNT_IN_COV': 'Int32', 'GARGANTA': 'Int32', 'HEMATOLOGI': 'Int32', 'HEPATICA': 'Int32',
          'HISTO_VGM': 'string', 'HOSPITAL': 'Int32', 'ID_MN_INTE': 'string', 'ID_MN_RESI': 'string',
          'ID_MUNICIP': 'string', 'ID_PAIS': 'string', 'ID_REGIONA': 'string', 'ID_RG_INTE': 'string',
          'ID_RG_RESI': 'string', 'ID_UNIDADE': 'string', 'IMUNODEPRE': 'Int32', 'LAB_PR_COV': 'string',
          'LOTE_1_COV': 'string', 'LOTE_2_COV': 'string', 'LOTE_REF': 'string', 'LO_PS_VGM': 'string',
          'MAE_VAC': 'Int32', 'MORB_DESC': 'string', 'M_AMAMENTA': 'Int32', 'NEUROLOGIC': 'Int32',
          'NOSOCOMIAL': 'Int32', 'NU_IDADE_N': 'Int32', 'OBESIDADE': 'Int32', 'OBES_IMC': 'string',
          'OUTRO_DES': 'string', 'OUTRO_SIN': 'Int32', 'OUT_AMOST': 'string', 'OUT_ANIM': 'string',
          'OUT_ANTIV': 'string', 'OUT_MORBI': 'Int32', 'OUT_SOR': 'string', 'PAC_COCBO': 'string',
          'PAC_DSCBO': 'string', 'PAIS_VGM': 'string', 'PCR_ADENO': 'Int32', 'PCR_BOCA': 'Int32',
          'PCR_FLUASU': 'Int32', 'PCR_FLUBLI': 'Int32', 'PCR_METAP': 'Int32', 'PCR_OUTRO': 'Int32',
          'PCR_PARA1': 'Int32', 'PCR_PARA2': 'Int32', 'PCR_PARA3': 'Int32', 'PCR_PARA4': 'Int32',
          'PCR_RESUL': 'Int32', 'PCR_RINO': 'Int32', 'PCR_SARS2': 'Int32', 'PCR_VSR': 'Int32',
          'PERD_OLFT': 'Int32', 'PERD_PALA': 'Int32', 'PNEUMOPATI': 'Int32', 'POS_AN_FLU': 'Int32',
          'POS_AN_OUT': 'Int32', 'POS_PCRFLU': 'Int32', 'POS_PCROUT': 'Int32', 'PUERPERA': 'Int32',
          'RAIOX_OUT': 'string', 'RAIOX_RES': 'Int32', 'RENAL': 'Int32', 'RES_AN': 'Int32', 'RES_IGA': 'Int32',
          'RES_IGG': 'Int32', 'RES_IGM': 'Int32', 'SATURACAO': 'Int32', 'SEM_NOT': 'Int32', 'SEM_PRI': 'Int32',
          'SG_UF': 'string', 'SG_UF_INTE': 'string', 'SG_UF_NOT': 'string', 'SIND_DOWN': 'Int32',
          'SOR_OUT': 'string', 'SUPORT_VEN': 'Int32', 'SURTO_SG': 'string', 'TOMO_OUT': 'string',
          'TOMO_RES': 'Int32', 'TOSSE': 'Int32', 'TP_AMOSTRA': 'Int32', 'TP_AM_SOR': 'Int32',
          'TP_ANTIVIR': 'Int32', 'TP_FLU_AN': 'Int32', 'TP_FLU_PCR': 'Int32', 'TP_IDADE': 'Int32',
          'TP_SOR': 'Int32', 'TP_TES_AN': 'Int32', 'UTI': 'Int32', 'VACINA': 'Int32', 'VACINA_COV': 'Int32',
          'VOMITO': 'Int32'}

ausentes2021 = {'DOSE_2REF': 'string', 'FAB_COVRF2': 'string', 'LOTE_REF2': 'string',
                'TRAT_COV': 'Int32', 'TIPO_TRAT': 'Int32', 'OUT_TRAT': 'string', 'DT_TRT_COV': 'string'}

datas = ['DOSE_1_COV', 'DOSE_2REF', 'DOSE_2_COV', 'DOSE_REF', 'DT_1_DOSE', 'DT_2_DOSE', 'DT_ANTIVIR', 'DT_COLETA',
         'DT_CO_SOR', 'DT_DIGITA', 'DT_DOSEUNI', 'DT_ENCERRA', 'DT_ENTUTI', 'DT_EVOLUCA', 'DT_INTERNA', 'DT_NASC',
         'DT_NOTIFIC', 'DT_PCR', 'DT_RAIOX', 'DT_RES', 'DT_RES_AN', 'DT_RT_VGM', 'DT_SAIDUTI', 'DT_SIN_PRI',
         'DT_TOMO', 'DT_TRT_COV', 'DT_UT_DOSE', 'DT_VAC_MAE', 'DT_VGM']

In [5]:
%%time

df = pd.read_csv('/content/INFLUD21-20-02-2023.csv', sep=';', dtype=dtypes)

CPU times: user 2min 1s, sys: 7.25 s, total: 2min 8s
Wall time: 2min 14s

In [6]:
df[list(ausentes2021.keys())] = [None] * len(ausentes2021)

dtypes.update(ausentes2021)

In [7]:
%%time

df = pd.concat([df, pd.read_csv('/content/INFLUD22-13-02-2023.csv', sep=';', dtype=dtypes)])
df = pd.concat([df, pd.read_csv('/content/INFLUD23-13-02-2023.csv', sep=';', dtype=dtypes)])

CPU times: user 1min 21s, sys: 3.63 s, total: 1min 25s
Wall time: 1min 25s

In [8]:
%%time

for campo in datas:
    df[campo] = pd.to_datetime(df[campo], format='%d/%m/%Y', errors='coerce')

CPU times: user 36 s, sys: 180 ms, total: 36.2 s
Wall time: 36.2 s

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2310360 entries, 0 to 22642
Columns: 173 entries, DT_NOTIFIC to DT_TRT_COV
dtypes: Int32(99), datetime64[ns](29), string(45)
memory usage: 2.4 GB

## Pré-processamento

### Contagem

In [10]:
# Campos descritos no dicionário de dados.

dicionario = ['NU_NOTIFIC', 'DT_NOTIFIC', 'SEM_NOT', 'DT_SIN_PRI', 'SEM_PRI', 'SG_UF_NOT', 'ID_MUNICIP', 'CO_MUN_NOT',
              'ID_REGIONA', 'CO_REGIONA', 'ID_UNIDADE', 'CO_UNI_NOT', 'TEM_CPF', 'NU_CPF', 'ESTRANG', 'NU_CNS',
              'NM_PACIENT', 'CS_SEXO', 'DT_NASC', 'NU_IDADE_N', 'TP_IDADE', 'CS_GESTANT', 'CS_RACA', 'CS_ETINIA',
              'POV_CT', 'TP_POV_CT', 'CS_ESCOL_N', 'PAC_COCBO', 'PAC_DSCBO', 'NM_MAE_PAC', 'NU_CEP', 'SG_UF',
              'ID_RG_RESI', 'CO_RG_RESI', 'ID_MN_RESI', 'CO_MUN_RES', 'NM_BAIRRO', 'NM_LOGRADO', 'NU_NUMERO',
              'NM_COMPLEM', 'NU_DDD_TEL', 'NU_TELEFON', 'CS_ZONA', 'ID_PAIS', 'CO_PAIS', 'NOSOCOMIAL', 'AVE_SUINO',
              'OUT_ANIM', 'FEBRE', 'TOSSE', 'GARGANTA', 'DISPNEIA', 'DESC_RESP', 'SATURACAO', 'DIARREIA', 'VOMITO',
              'DOR_ABD', 'FADIGA', 'PERD_OLFT', 'PERD_PALA', 'OUTRO_SIN', 'OUTRO_DES', 'FATOR_RISC', 'PUERPERA',
              'CARDIOPATI', 'HEMATOLOGI', 'SIND_DOWN', 'HEPATICA', 'ASMA', 'DIABETES', 'NEUROLOGIC', 'PNEUMOPATI',
              'IMUNODEPRE', 'RENAL', 'OBESIDADE', 'OBES_IMC', 'OUT_MORBI', 'MORB_DESC', 'VACINA_COV', 'DOSE_1_COV',
              'DOSE_2_COV', 'DOSE_REF', 'DOSE_2REF', 'FAB_COV1', 'FAB_COV2', 'FAB_COVRF', 'FAB_COVRF2', 'LOTE_1_COV',
              'LOTE_2_COV', 'LOTE_REF', 'LOTE_REF2', 'FNT_IN_COV', 'VACINA', 'DT_UT_DOSE', 'MAE_VAC', 'DT_VAC_MAE',
              'M_AMAMENTA', 'DT_DOSEUNI', 'DT_1_DOSE', 'DT_2_DOSE', 'ANTIVIRAL', 'TP_ANTIVIR', 'OUT_ANTIV',
              'DT_ANTIVIR', 'TRAT_COV', 'TIPO_TRAT', 'OUT_TRAT', 'DT_TRT_COV', 'HOSPITAL', 'DT_INTERNA', 'SG_UF_INTE',
              'ID_RG_INTE', 'CO_RG_INTE', 'ID_MN_INTE', 'CO_MU_INTE', 'ID_UN_INTE', 'CO_UN_INTE', 'UTI', 'DT_ENTUTI',
              'DT_SAIDUTI', 'SUPORT_VEN', 'RAIOX_RES', 'RAIOX_OUT', 'DT_RAIOX', 'TOMO_RES', 'TOMO_OUT', 'DT_TOMO',
              'AMOSTRA', 'DT_COLETA', 'TP_AMOSTRA', 'OUT_AMOST', 'REQUI_GAL', 'TP_TES_AN', 'DT_RES_AN', 'RES_AN',
              'LAB_AN', 'CO_LAB_AN', 'POS_AN_FLU', 'TP_FLU_AN', 'POS_AN_OUT', 'AN_SARS2', 'AN_VSR', 'AN_PARA1',
              'AN_PARA2', 'AN_PARA3', 'AN_ADENO', 'AN_OUTRO', 'DS_AN_OUT', 'PCR_RESUL', 'DT_PCR', 'POS_PCRFLU',
              'TP_FLU_PCR', 'PCR_FLUASU', 'FLUASU_OUT', 'PCR_FLUBLI', 'FLUBLI_OUT', 'POS_PCROUT', 'PCR_SARS2',
              'PCR_VSR', 'PCR_PARA1', 'PCR_PARA2', 'PCR_PARA3', 'PCR_PARA4', 'PCR_ADENO', 'PCR_METAP', 'PCR_BOCA',
              'PCR_RINO', 'PCR_OUTRO', 'DS_PCR_OUT', 'LAB_PCR', 'CO_LAB_PCR', 'TP_AM_SOR', 'SOR_OUT', 'DT_CO_SOR',
              'TP_SOR', 'OUT_SOR', 'SOR_OUT', 'RES_IGG', 'RES_IGM', 'RES_IGA', 'DT_RES', 'CLASSI_FIN', 'CLASSI_OUT',
              'CRITERIO', 'EVOLUCAO', 'DT_EVOLUCA', 'DT_ENCERRA', 'NU_DO', 'OBSERVA', 'NOME_PROF', 'REG_PROF',
              'DT_DIGITA']

In [11]:
# # Campos descritos no dicionário de dados, mas inexistentes nas fontes.
# # 'FAB_COV_1', 'FAB_COV_2', 'FAB_COVREF' (nas fontes) = 'FAB_COV1', 'FAB_COV2', 'FAB_COVRF' (no dicionário)

# inexistentes_csv = list(dicionario - dtypes.keys())

# inexistentes_csv

In [12]:
# Campos sem entrada no dicionário.
# 'FAB_COV_1', 'FAB_COV_2', 'FAB_COVREF' (nas fontes) = 'FAB_COV1', 'FAB_COV2', 'FAB_COVRF' (no dicionário)

inexistentes_dic = list((dtypes.keys() - dicionario) - set(['FAB_COV_1', 'FAB_COV_2', 'FAB_COVREF']))

# df[inexistentes_dic].info(show_counts=True)

In [13]:
# Campos de notificação e primeiros sintomas.

campos = ['DT_NOTIFIC', 'SEM_NOT', 'SG_UF_NOT', 'DT_SIN_PRI', 'SEM_PRI']

df[campos].info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2310360 entries, 0 to 22642
Data columns (total 5 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   DT_NOTIFIC  2310360 non-null  datetime64[ns]
 1   SEM_NOT     2310360 non-null  Int32
 2   SG_UF_NOT   2310360 non-null  string
 3   DT_SIN_PRI  2310360 non-null  datetime64[ns]
 4   SEM_PRI     2310360 non-null  Int32
dtypes: Int32(2), datetime64[ns](2), string(1)
memory usage: 92.5 MB

In [14]:
# Campos relativos a internação.

campos = ['HOSPITAL', 'DT_INTERNA', 'SG_UF_INTE',
          'CO_RG_INTE', 'ID_RG_INTE', 'CO_MU_INTE', 'ID_MN_INTE']

df[campos].info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2310360 entries, 0 to 22642
Data columns (total 7 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   HOSPITAL    2245036 non-null  Int32
 1   DT_INTERNA  2157993 non-null  datetime64[ns]
 2   SG_UF_INTE  2239369 non-null  string
 3   CO_RG_INTE  1800956 non-null  Int32
 4   ID_RG_INTE  1800956 non-null  string
 5   CO_MU_INTE  2163407 non-null  Int32
 6   ID_MN_INTE  2163407 non-null  string
dtypes: Int32(3), datetime64[ns](1), string(3)
memory usage: 121.2 MB

In [15]:
# Campos relativos à vacina contra COVID-19.

campos = ['VACINA_COV', 'FNT_IN_COV',
          'DOSE_1_COV', 'FAB_COV_1', 'LOTE_1_COV',
          'DOSE_2_COV', 'FAB_COV_2', 'LOTE_2_COV',
          'DOSE_REF', 'FAB_COVREF', 'LOTE_REF',
          'DOSE_2REF', 'FAB_COVRF2', 'LOTE_REF2']

df[campos].info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2310360 entries, 0 to 22642
Data columns (total 14 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   VACINA_COV  1863466 non-null  Int32
 1   FNT_IN_COV  1865057 non-null  Int32
 2   DOSE_1_COV  684415 non-null   datetime64[ns]
 3   FAB_COV_1   685394 non-null   string
 4   LOTE_1_COV  590153 non-null   string
 5   DOSE_2_COV  544751 non-null   datetime64[ns]
 6   FAB_COV_2   308176 non-null   string
 7   LOTE_2_COV  493157 non-null   string
 8   DOSE_REF    194419 non-null   datetime64[ns]
 9   FAB_COVREF  193697 non-null   string
 10  LOTE_REF    192595 non-null   string
 11  DOSE_2REF   31824 non-null    datetime64[ns]
 12  FAB_COVRF2  33122 non-null    string
 13  LOTE_REF2   33170 non-null    string
dtypes: Int32(2), datetime64[ns](4), string(8)
memory usage: 251.2 MB

In [16]:
# Campos "marcado pelo usuário" ou vazio.

NAN0 = ['AN_ADENO', 'AN_OUTRO', 'AN_PARA1', 'AN_PARA2', 'AN_PARA3', 'AN_SARS2', 'AN_VSR',
        'PCR_ADENO', 'PCR_BOCA', 'PCR_METAP', 'PCR_OUTRO', 'PCR_PARA1', 'PCR_PARA2',
        'PCR_PARA3', 'PCR_PARA4', 'PCR_RINO', 'PCR_SARS2', 'PCR_VSR']

df[NAN0].info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2310360 entries, 0 to 22642
Data columns (total 18 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   AN_ADENO   166 non-null     Int32
 1   AN_OUTRO   1429 non-null    Int32
 2   AN_PARA1   72 non-null      Int32
 3   AN_PARA2   23 non-null      Int32
 4   AN_PARA3   157 non-null     Int32
 5   AN_SARS2   330875 non-null  Int32
 6   AN_VSR     6953 non-null    Int32
 7   PCR_ADENO  4630 non-null    Int32
 8   PCR_BOCA   2038 non-null    Int32
 9   PCR_METAP  2743 non-null    Int32
 10  PCR_OUTRO  2382 non-null    Int32
 11  PCR_PARA1  549 non-null     Int32
 12  PCR_PARA2  261 non-null     Int32
 13  PCR_PARA3  1877 non-null    Int32
 14  PCR_PARA4  597 non-null     Int32
 15  PCR_RINO   13955 non-null   Int32
 16  PCR_SARS2  798935 non-null  Int32
 17  PCR_VSR    28086 non-null   Int32
dtypes: Int32(18)
memory usage: 215.9 MB

In [17]:
# Campos relativos a origem e país.

campos = ['ESTRANG', 'ID_PAIS', 'CO_PAIS']

display(df[campos].info(show_counts=True))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2310360 entries, 0 to 22642
Data columns (total 3 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   ESTRANG  1798643 non-null  Int32
 1   ID_PAIS  2310360 non-null  string
 2   CO_PAIS  2310360 non-null  Int32
dtypes: Int32(2), string(1)
memory usage: 57.3 MB

None

In [18]:
# Campos tipo 'Outro'.

outros = ['CLASSI_OUT', 'DS_AN_OUT', 'DS_PCR_OUT', 'FLUASU_OUT', 'FLUBLI_OUT',
          'MORB_DESC', 'OUTRO_DES', 'OUT_AMOST', 'OUT_ANIM', 'OUT_ANTIV',
          'OUT_SOR', 'OUT_TRAT', 'RAIOX_OUT', 'SOR_OUT', 'TOMO_OUT']

# df[outros].info(show_counts=True)

In [19]:
# "Resultado da Sorologia para SARS-CoV-2." ???

sorologia = ['RES_IGG', 'RES_IGM', 'RES_IGA']

display(df[sorologia].info(show_counts=True))
# print()

# for campo in sorologia:
#     display(df[campo].value_counts(dropna=False).sort_index())
#     print()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2310360 entries, 0 to 22642
Data columns (total 3 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   RES_IGG  256592 non-null  Int32
 1   RES_IGM  259464 non-null  Int32
 2   RES_IGA  202793 non-null  Int32
dtypes: Int32(3)
memory usage: 50.7 MB

None

In [20]:
# Quantidade de registros com sexo diferente de Masculino ou Feminino.

(~df['CS_SEXO'].isin(['M', 'F'])).sum()

376

In [21]:
# Quantidade de registros sem data de nascimento.

df['DT_NASC'].isna().sum()

1390

In [22]:
# Quantidade de registros sem unidade federativa.

df['SG_UF'].isna().sum()

398

In [23]:
# # Quantidade de registros com ano de nascimento inferior a 1923, por ano.

# with pd.option_context('display.max_rows', None): 
#     display(df['DT_NASC'][df['DT_NASC'].dt.year < 1923].dt.year.value_counts().sort_index())

In [24]:
# Quantidade total de registros com ano de nascimento inferior a 1923.

(df['DT_NASC'].dt.year < 1923).sum()

6137

In [25]:
# Quantidade de registros com unidade federativa onde está localizada a unidade que realizou a notificação diferente da internação do paciente.

df['SG_UF_NOT'][df['SG_UF_NOT'] != df['SG_UF_INTE']].count()

504

In [26]:
# Quantidade de registros com regional de saúde onde está localizada a unidade que realizou a notificação diferente da internação do paciente.

df['CO_REGIONA'][df['CO_REGIONA'] != df['CO_RG_INTE']].count()

4014

In [27]:
# Quantidade de registros com município onde está localizada a unidade que realizou a notificação diferente da internação do paciente.

df['CO_MUN_NOT'][df['CO_MUN_NOT'] != df['CO_MU_INTE']].count()

15126

### Correção

In [28]:
# Campos "marcado pelo usuário" com valores NaN para 0.
for campo in NAN0:
    df[campo].fillna(0, inplace=True)

# Campo CLASSI_FIN com valores NaN para 4-SRAG não especificado
df['CLASSI_FIN'].fillna(4, inplace=True)

# Campo CS_SEXO para numérico, como dicionário de dados.
df['CS_SEXO'].replace({'M': '1', 'F': '2', 'I': '9'}, inplace=True)
df['CS_SEXO'] = df['CS_SEXO'].astype('Int32')

# Campos com valores NaN para 9-Ignorado.
NAN9 = ['AMOSTRA', 'ANTIVIRAL', 'ASMA', 'AVE_SUINO', 'CARDIOPATI', 'CRITERIO', 'CS_ESCOL_N', 'CS_RACA', 'CS_ZONA', 'DESC_RESP', 'DIABETES',
        'DIARREIA', 'DISPNEIA', 'DOR_ABD', 'EVOLUCAO', 'FADIGA', 'FATOR_RISC', 'FEBRE', 'FNT_IN_COV', 'GARGANTA', 'HEMATOLOGI', 'HEPATICA',
        'HOSPITAL', 'IMUNODEPRE', 'MAE_VAC', 'M_AMAMENTA', 'NEUROLOGIC', 'NOSOCOMIAL', 'OBESIDADE', 'OUTRO_SIN', 'OUT_MORBI', 'PCR_FLUASU',
        'PCR_FLUBLI', 'PCR_RESUL', 'PERD_OLFT', 'PERD_PALA', 'PNEUMOPATI', 'POS_AN_FLU', 'POS_AN_OUT', 'POS_PCRFLU', 'POS_PCROUT', 'PUERPERA',
        'RAIOX_RES', 'RENAL', 'RES_AN', 'SATURACAO', 'SIND_DOWN', 'SUPORT_VEN', 'TIPO_TRAT', 'TOMO_RES', 'TOSSE', 'TP_AMOSTRA', 'TP_AM_SOR',
        'TP_ANTIVIR', 'TP_FLU_AN', 'TP_FLU_PCR', 'TP_SOR', 'TP_TES_AN', 'TRAT_COV', 'UTI', 'VACINA', 'VACINA_COV', 'VOMITO']

for campo in NAN9:
    df[campo].fillna(9, inplace=True)

# Campo OBES_IMC para decimal.
df['OBES_IMC'][df['OBES_IMC'].str.contains(',', regex=False)] = df['OBES_IMC'][df['OBES_IMC'].str.contains(',', regex=False)].str.replace(',', '.')
df['OBES_IMC'] = df['OBES_IMC'].astype('Float32')

# Campos PAC_COCBO com valores 'XXX' para None.
df['PAC_COCBO'].replace({'XXX': None}, inplace=True)

# Campos PAC_DSCBO com valores 'NAO INFORMADO' para None.
df['PAC_DSCBO'].replace({'NAO INFORMADO': None}, inplace=True)

### Desmembramento

In [29]:
# DataFrame de ocupações, com códigos e descrições.

ocupacoes = ['PAC_COCBO', 'PAC_DSCBO']

df_ocupacoes = df[ocupacoes][~df[ocupacoes].duplicated()].dropna().sort_values(by='PAC_COCBO').reset_index(drop=True)
df_ocupacoes.columns = ['Codigo', 'Ocupacao']

In [30]:
# df_ocupacoes.to_csv('/content/PJI410_ocupacoes.csv', index=False)

In [31]:
# DataFrame de unidades, com códigos e descrições.

unidades = ['CO_UNI_NOT', 'ID_UNIDADE']

df_unidades = df[unidades][~df[unidades].duplicated()].dropna().sort_values(by='CO_UNI_NOT').reset_index(drop=True)
df_unidades.columns = ['Codigo', 'Unidade']

In [32]:
# df_unidades.to_csv('/content/PJI410_unidades.csv', index=False)

In [33]:
# DataFrame de municípios, com códigos e descrições.

df_municipios = pd.concat([df[['CO_MUN_NOT', 'ID_MUNICIP']].set_axis(['CO_MUNICIP', 'ID_MUNICIP'], axis=1),
                           df[['CO_MUN_RES', 'ID_MN_RESI']].set_axis(['CO_MUNICIP', 'ID_MUNICIP'], axis=1),
                           df[['CO_MU_INTE', 'ID_MN_INTE']].set_axis(['CO_MUNICIP', 'ID_MUNICIP'], axis=1)])

df_municipios = df_municipios[~df_municipios.duplicated()].dropna().sort_values(by='CO_MUNICIP').reset_index(drop=True)
df_municipios.columns = ['Codigo', 'Municipio']

In [34]:
# df_municipios.to_csv('/content/PJI410_municipios.csv', index=False)

In [35]:
# DataFrame de regionais, com códigos e descrições.

df_regionais = pd.concat([df[['CO_REGIONA', 'ID_REGIONA']],
                          df[['CO_RG_RESI', 'ID_RG_RESI']].set_axis(['CO_REGIONA', 'ID_REGIONA'], axis=1),
                          df[['CO_RG_INTE', 'ID_RG_INTE']].set_axis(['CO_REGIONA', 'ID_REGIONA'], axis=1)])

df_regionais = df_regionais[~df_regionais.duplicated()].dropna().sort_values(by='CO_REGIONA').reset_index(drop=True)
df_regionais.columns = ['Codigo', 'Regional']

In [36]:
# df_regionais.to_csv('/content/PJI410_regionais.csv', index=False)

### Limpeza

In [37]:
# Remover registros com sexo diferente de 1-Masculino ou 2-Feminino.
df.drop(df[~df['CS_SEXO'].isin([1, 2])].index, inplace=True)

# Remover registros sem data de nascimento ou unidade federativa.
df.dropna(subset=['DT_NASC', 'SG_UF'], inplace=True)

# Remover registros com ano de nascimento inferior a 1923.
df.drop(df[df['DT_NASC'].dt.year < 1923].index, inplace=True)

# Remover registros de pacientes estrangeiros.
df.drop(df[df['ESTRANG'] == 1].index, inplace=True)

# Remover campos relativos à idade. (Temos a data de nascimento.)
df.drop(['NU_IDADE_N', 'TP_IDADE'], axis=1, inplace=True)

# Remover campos relativos ao país de origem. (Ao remover registros de pacientes estrangeiros ou sem unidade federativa, ficamos com apenas um valor nestes campos.)
df.drop(['ESTRANG', 'ID_PAIS', 'CO_PAIS'], axis=1, inplace=True)

# Remover campos de descrição dos dados desmembrados.
df.drop(['PAC_DSCBO', 'ID_UNIDADE', 'ID_MUNICIP', 'ID_MN_RESI', 'ID_MN_INTE', 'ID_REGIONA', 'ID_RG_RESI', 'ID_RG_INTE'], axis=1, inplace=True)

# Remover campos sem entrada no dicionário.
df.drop(inexistentes_dic, axis=1, inplace=True)

# Remover campos sobre resultado da sorologia para SARS-CoV-2. (O dicionário não contém a descrição dos valores.)
df.drop(sorologia, axis=1, inplace=True)

# Remover campos tipo 'Outro'. (Sem utilidade para macro-análises.)
df.drop(outros, axis=1, inplace=True)

# Remover campos de com somente 3% de dados válidos.
df.drop(['NOSOCOMIAL', 'AVE_SUINO', 'ANTIVIRAL', 'TP_ANTIVIR', 'DT_ANTIVIR', 'TRAT_COV', 'TIPO_TRAT', 'DT_TRT_COV'], axis=1, inplace=True)

# Remover campos vazios.
df.dropna(how='all', axis=1, inplace=True)

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2277840 entries, 0 to 22642
Columns: 125 entries, DT_NOTIFIC to LOTE_REF2
dtypes: Float32(1), Int32(87), datetime64[ns](25), object(1), string(11)
memory usage: 1.6+ GB

In [39]:
# df.to_csv('/content/PJI410_preprocessados.csv', index=False)

## População estimada em 2021

https://www.ibge.gov.br/cidades-e-estados

In [40]:
df_populacao = pd.read_csv('https://raw.githubusercontent.com/flohmannjr/PJI410/main/dados/populacao_estimada_2021.csv')

In [41]:
df_populacao['Notificacoes']  = df['SG_UF_NOT'].value_counts().sort_index().to_list()
df_populacao['NotPor1000Hab'] = df_populacao['Notificacoes'] / (df_populacao['Populacao'] / 1000)
df_populacao['NotMasculino']  = df['SG_UF_NOT'][df['CS_SEXO'] == 1].value_counts().sort_index().to_list()
df_populacao['NotFeminino']   = df['SG_UF_NOT'][df['CS_SEXO'] == 2].value_counts().sort_index().to_list()

In [42]:
df_populacao[:5]

,UF,Nome,Populacao,Notificacoes,NotPor1000Hab,NotMasculino,NotFeminino
0,AC,Acre,906876,6458,7.121150,3444,3014
1,AL,Alagoas,3365351,25543,7.589996,13312,12231
2,AM,Amazonas,4269995,31238,7.315699,16452,14786
3,AP,Amapá,877613,5445,6.204329,2953,2492
4,BA,Bahia,14985284,85029,5.674167,45856,39173

In [43]:
# df_populacao.to_csv('/content/PJI410_populacao.csv', index=False)

## Evoluções

In [ ]:
df_evolucao = df[['SG_UF_NOT', 'EVOLUCAO']][df['EVOLUCAO'].isin(EVOLUCOES.keys())].value_counts().sort_index().reset_index()
df_evolucao.columns = ['UF', 'Evolucao', 'Quantidade']
df_evolucao['Por1000Hab'] = None

for _, uf in df_populacao.iterrows():
    for i, ev in df_evolucao[df_evolucao['UF'] == uf['UF']].iterrows():
        df_evolucao.loc[i, 'Por1000Hab'] = ev['Quantidade'] / (uf['Populacao'] / 1000)

In [ ]:
df_evolucao[:5]

   UF  Evolucao  Quantidade Por1000Hab
0  AC         1        4008   4.419568
1  AC         2        1849   2.038867
2  AC         3          76   0.083804
3  AL         1       15258   4.533851
4  AL         2        5432   1.614096

In [ ]:
# df_evolucao.to_csv('/content/PJI410_evolucao.csv', index=False)

## Evoluções por semana de primeiros sintomas

In [ ]:
df_evolucao_prisin = df[['DT_SIN_PRI', 'EVOLUCAO']][df['EVOLUCAO'].isin(EVOLUCOES.keys())].value_counts().sort_index().reset_index()
df_evolucao_prisin.columns = ['Data', 'Evolucao', 'Quantidade']

for i, ev in df_evolucao_prisin.iterrows():
    df_evolucao_prisin.loc[i, 'Segunda-feira'] = ev['Data'] - np.timedelta64(ev['Data'].dayofweek, 'D')

df_evolucao_prisin = df_evolucao_prisin[['Segunda-feira', 'Evolucao', 'Quantidade']].groupby(by=['Segunda-feira', 'Evolucao']).sum().sort_index().reset_index()

In [ ]:
df_evolucao_prisin[:5]

  Segunda-feira  Evolucao  Quantidade
0    2020-12-28         1        3287
1    2020-12-28         2        1435
2    2020-12-28         3          94
3    2021-01-04         1       23355
4    2021-01-04         2       10256

In [ ]:
# df_evolucao_prisin.to_csv('/content/PJI410_evolucao_prisin.csv', index=False)

## Diagnósticos finais

In [ ]:
df_diagnostico = df[['EVOLUCAO', 'CLASSI_FIN']][df['EVOLUCAO'].isin(EVOLUCOES.keys())].value_counts().sort_index().reset_index()
df_diagnostico.columns = ['Evolucao', 'Classificacao', 'Quantidade']

In [ ]:
df_diagnostico[:5]

   Evolucao  Classificacao  Quantidade
0         1              1       19389
1         1              2       48574
2         1              3        6435
3         1              4      471166
4         1              5      892609

In [ ]:
# df_diagnostico.to_csv('/content/PJI410_diagnostico.csv', index=False)

## Óbitos por COVID-19

In [ ]:
df_obitos_covid = df[['SG_UF_NOT']][(df['EVOLUCAO'] == 2) & (df['CLASSI_FIN'] == 5)].value_counts().sort_index().reset_index()
df_obitos_covid.columns = ['UF', 'Quantidade']
df_obitos_covid['Por1000Hab'] = None

for _, uf in df_populacao.iterrows():
    for i, oc in df_obitos_covid[df_obitos_covid['UF'] == uf['UF']].iterrows():
        df_obitos_covid.loc[i, 'Por1000Hab'] = oc['Quantidade'] / (uf['Populacao'] / 1000)

In [ ]:
df_obitos_covid[:5]

   UF  Quantidade Por1000Hab
0  AC        1114   1.228393
1  AL        4121   1.224538
2  AM        7194   1.684779
3  AP        1042   1.187311
4  BA       16043   1.070584

In [ ]:
# df_obitos_covid.to_csv('/content/PJI410_obitos_covid.csv', index=False)

## Diferença média de dias entre primeiros sintomas e notificação

In [ ]:
df_demora = df[['DT_SIN_PRI', 'DT_NOTIFIC']].sort_values(by=['DT_SIN_PRI', 'DT_NOTIFIC']).copy().reset_index(drop=True)
df_demora['Dias'] = ((df_demora['DT_NOTIFIC'] - df_demora['DT_SIN_PRI']) / np.timedelta64(1, 'D')).astype(int)
df_demora.drop(['DT_NOTIFIC'], axis=1, inplace=True)
df_demora = df_demora.groupby(by=['DT_SIN_PRI']).mean().reset_index()

for i, de in df_demora.iterrows():
    df_demora.loc[i, 'Segunda-feira'] = de['DT_SIN_PRI'] - np.timedelta64(de['DT_SIN_PRI'].dayofweek, 'D')

df_demora.drop(['DT_SIN_PRI'], axis=1, inplace=True)
df_demora = df_demora.groupby(by=['Segunda-feira']).mean().reset_index()

In [ ]:
df_demora[:5]

  Segunda-feira       Dias
0    2020-12-28  12.900377
1    2021-01-04  12.203469
2    2021-01-11  12.746379
3    2021-01-18  12.594892
4    2021-01-25  13.966771

In [ ]:
# df_demora.to_csv('/content/PJI410_demora.csv', index=False)

## Média de notificações por semana por raça

In [ ]:
df_raca = df[['DT_NOTIFIC', 'CS_RACA']][df['CS_RACA'].isin(RACAS.keys())].value_counts().sort_index().reset_index()
df_raca.columns = ['Data', 'Raca', 'Quantidade']

for i, da in df_raca.iterrows():
    df_raca.loc[i, 'Segunda-feira'] = da['Data'] - np.timedelta64(da['Data'].dayofweek, 'D')

df_raca.drop(['Data'], axis=1, inplace=True)
df_raca = df_raca.groupby(by=['Segunda-feira', 'Raca']).mean().reset_index()

In [ ]:
df_raca[:5]

  Segunda-feira  Raca  Quantidade
0    2020-12-28     1   77.000000
1    2020-12-28     2    7.000000
2    2020-12-28     3    2.000000
3    2020-12-28     4   69.000000
4    2021-01-04     1  606.714286

In [ ]:
# df_raca.to_csv('/content/PJI410_raca.csv', index=False)

## Média de notificações por semana por escolaridade

In [ ]:
df_escolaridade = df[['DT_NOTIFIC', 'CS_ESCOL_N']][df['CS_ESCOL_N'].isin(ESCOLARIDADES.keys())].value_counts().sort_index().reset_index()
df_escolaridade.columns = ['Data', 'Escolaridade', 'Quantidade']

for i, da in df_escolaridade.iterrows():
    df_escolaridade.loc[i, 'Segunda-feira'] = da['Data'] - np.timedelta64(da['Data'].dayofweek, 'D')

df_escolaridade.drop(['Data'], axis=1, inplace=True)
df_escolaridade = df_escolaridade.groupby(by=['Segunda-feira', 'Escolaridade']).mean().reset_index()

In [ ]:
df_escolaridade[:5]

  Segunda-feira  Escolaridade  Quantidade
0    2020-12-28             0         6.0
1    2020-12-28             1        18.0
2    2020-12-28             2        11.0
3    2020-12-28             3        17.0
4    2020-12-28             4         4.0

In [ ]:
# df_escolaridade.to_csv('/content/PJI410_escolaridade.csv', index=False)

## Média de notificações por semana por zona

In [ ]:
df_zona = df[['DT_NOTIFIC', 'CS_ZONA']][df['CS_ZONA'].isin(ZONAS.keys())].value_counts().sort_index().reset_index()
df_zona.columns = ['Data', 'Zona', 'Quantidade']

for i, da in df_zona.iterrows():
    df_zona.loc[i, 'Segunda-feira'] = da['Data'] - np.timedelta64(da['Data'].dayofweek, 'D')

df_zona.drop(['Data'], axis=1, inplace=True)
df_zona = df_zona.groupby(by=['Segunda-feira', 'Zona']).mean().reset_index()

In [ ]:
df_zona[:5]

  Segunda-feira  Zona   Quantidade
0    2020-12-28     1   150.000000
1    2020-12-28     2     5.000000
2    2021-01-04     1  1209.571429
3    2021-01-04     2    72.571429
4    2021-01-04     3     6.571429

In [ ]:
# df_zona.to_csv('/content/PJI410_zona.csv', index=False)

## Média de dias hospitalizado ou internado em UTI

In [ ]:
# Pacientes que foram internados em UTI mas é ignorado se foram hospitalizados.

df[['HOSPITAL', 'UTI']][(df['UTI'] == 1) & (df['HOSPITAL'] != 1)].value_counts()

HOSPITAL  UTI
9         1      5089
dtype: int64

In [ ]:
# Hospitalizados com data de internação e data de evolução (alta ou óbito).
df_internacao = df[['DT_NOTIFIC', 'DT_INTERNA', 'DT_EVOLUCA']][(df['HOSPITAL'] == 1) & (~df['DT_INTERNA'].isna()) & (~df['DT_EVOLUCA'].isna())].sort_values(by=['DT_NOTIFIC', 'DT_INTERNA', 'DT_EVOLUCA']).copy().reset_index(drop=True)

# Quantidade de dias hospitalizado. É adicionado um dia, pois tanto o dia de internação quanto o dia de evolução devem ser considerados.
df_internacao['Dias'] = (((df_internacao['DT_EVOLUCA'] - df_internacao['DT_INTERNA']) / np.timedelta64(1, 'D')) + 1).astype(int)

df_internacao.drop(['DT_INTERNA', 'DT_EVOLUCA'], axis=1, inplace=True)
df_internacao = df_internacao.groupby(by=['DT_NOTIFIC']).mean().reset_index()

for i, ho in df_internacao.iterrows():
    df_internacao.loc[i, 'Segunda-feira'] = ho['DT_NOTIFIC'] - np.timedelta64(ho['DT_NOTIFIC'].dayofweek, 'D')

df_internacao.drop(['DT_NOTIFIC'], axis=1, inplace=True)
df_internacao = df_internacao.groupby(by=['Segunda-feira']).mean().reset_index()

In [ ]:
df_internacao[:5]

  Segunda-feira       Dias
0    2020-12-28  15.147887
1    2021-01-04  13.302114
2    2021-01-11  12.902365
3    2021-01-18  12.967976
4    2021-01-25  12.575461

In [ ]:
# df_internacao.to_csv('/content/PJI410_internacao.csv', index=False)

In [ ]:
# Internados em UTI com data de entrada e data de saída.
df_uti = df[['DT_NOTIFIC', 'DT_ENTUTI', 'DT_SAIDUTI']][(df['HOSPITAL'] == 1) & (~df['DT_ENTUTI'].isna()) & (~df['DT_SAIDUTI'].isna())].sort_values(by=['DT_NOTIFIC', 'DT_ENTUTI', 'DT_SAIDUTI']).copy().reset_index(drop=True)

# Quantidade de dias internado. É adicionado um dia, pois tanto o dia de entrada quanto o dia de saída devem ser considerados.
df_uti['Dias'] = (((df_uti['DT_SAIDUTI'] - df_uti['DT_ENTUTI']) / np.timedelta64(1, 'D')) + 1).astype(int)

df_uti.drop(['DT_ENTUTI', 'DT_SAIDUTI'], axis=1, inplace=True)
df_uti = df_uti.groupby(by=['DT_NOTIFIC']).mean().reset_index()

for i, ho in df_uti.iterrows():
    df_uti.loc[i, 'Segunda-feira'] = ho['DT_NOTIFIC'] - np.timedelta64(ho['DT_NOTIFIC'].dayofweek, 'D')

df_uti.drop(['DT_NOTIFIC'], axis=1, inplace=True)
df_uti = df_uti.groupby(by=['Segunda-feira']).mean().reset_index()

In [ ]:
df_uti[:5]

  Segunda-feira       Dias
0    2020-12-28  15.080000
1    2021-01-04  11.184934
2    2021-01-11  12.420353
3    2021-01-18  12.459092
4    2021-01-25  12.208975

In [ ]:
# df_uti.to_csv('/content/PJI410_uti.csv', index=False)

## Classificação sobre sintomas e fatores de risco, com EVOLUCAO como atributo alvo

In [ ]:
campos  = ['FEBRE', 'TOSSE', 'GARGANTA', 'DISPNEIA', 'DESC_RESP', 'SATURACAO', 'DIARREIA', 'VOMITO',
           'DOR_ABD', 'FADIGA', 'PERD_OLFT', 'PERD_PALA', 'OUTRO_SIN', 'PUERPERA', 'CARDIOPATI',
           'HEMATOLOGI', 'SIND_DOWN', 'HEPATICA', 'ASMA', 'DIABETES', 'NEUROLOGIC', 'PNEUMOPATI',
           'IMUNODEPRE', 'RENAL', 'OBESIDADE', 'OUT_MORBI', 'EVOLUCAO']

filtros = [df[c].isin([1, 2]) for c in campos]  # Lista de filtros.
filtro  = np.vstack(filtros).all(axis=0)        # Combina os resultados dos filtros em um único array.

In [ ]:
df_sintomas = df[campos][filtro].replace({2: 0}).astype('int').reset_index(drop=True)

In [ ]:
with pd.option_context('display.max_columns', None):
    display(df_sintomas[:10])

,FEBRE,TOSSE,GARGANTA,DISPNEIA,DESC_RESP,SATURACAO,DIARREIA,VOMITO,DOR_ABD,FADIGA,PERD_OLFT,PERD_PALA,OUTRO_SIN,FATOR_RISC,PUERPERA,CARDIOPATI,HEMATOLOGI,SIND_DOWN,HEPATICA,ASMA,DIABETES,NEUROLOGIC,PNEUMOPATI,IMUNODEPRE,RENAL,OBESIDADE,OUT_MORBI,EVOLUCAO
0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,1,0,0,0,0,0,1
1,1,1,0,1,1,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1
2,0,0,0,0,0,1,1,0,0,0,0,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,1
3,0,0,0,0,0,1,0,1,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,1
4,0,1,0,0,0,0,0,0,0,0,1,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,1
5,0,0,0,1,1,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,1
6,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0
7,0,1,1,1,1,1,1,0,0,1,0,1,1,1,0,1,0,0,0,0,0,0,0,0,0,1,1,1
8,1,1,1,1,0,1,0,1,0,0,0,0,1,1,0,1,0,0,0,0,0,0,0,0,0,1,1,1
9,1,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1

In [ ]:
# df_sintomas.to_csv('/content/PJI410_sintomas.zip', index=False)

## Classificação sobre sintomas e fatores de risco, com CLASSI_FIN = 5 como atributo alvo

In [ ]:
campos = ['FEBRE', 'TOSSE', 'GARGANTA', 'DISPNEIA', 'DESC_RESP', 'SATURACAO', 'DIARREIA', 'VOMITO',
          'DOR_ABD', 'FADIGA', 'PERD_OLFT', 'PERD_PALA', 'OUTRO_SIN', 'FATOR_RISC', 'PUERPERA',
          'CARDIOPATI', 'HEMATOLOGI', 'SIND_DOWN', 'HEPATICA', 'ASMA', 'DIABETES', 'NEUROLOGIC',
          'PNEUMOPATI', 'IMUNODEPRE', 'RENAL', 'OBESIDADE', 'OUT_MORBI', 'CLASSI_FIN']

filtros = [df[c].isin([1, 2]) for c in campos[:-1]]
filtros.append(df['CLASSI_FIN'].isin(DIAGNOSTICOS.keys()))

filtro = np.vstack(filtros).all(axis=0)

In [ ]:
df_sintomas_covid = df[campos][filtro].replace({2: 0}).astype('int').reset_index(drop=True)
df_sintomas_covid['CLASSI_FIN'].replace({1: 0, 3: 0, 4: 0, 5: 1}, inplace=True)
df_sintomas_covid.rename(columns={'CLASSI_FIN': 'COVID'}, inplace=True)

In [ ]:
with pd.option_context('display.max_columns', None):
    display(df_sintomas_covid[:10])

,FEBRE,TOSSE,GARGANTA,DISPNEIA,DESC_RESP,SATURACAO,DIARREIA,VOMITO,DOR_ABD,FADIGA,PERD_OLFT,PERD_PALA,OUTRO_SIN,FATOR_RISC,PUERPERA,CARDIOPATI,HEMATOLOGI,SIND_DOWN,HEPATICA,ASMA,DIABETES,NEUROLOGIC,PNEUMOPATI,IMUNODEPRE,RENAL,OBESIDADE,OUT_MORBI,COVID
0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,1,0,0,0,0,0,0
1,1,1,0,1,1,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0
2,0,0,0,0,0,1,1,0,0,0,0,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0
3,0,0,0,0,0,1,0,1,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0
4,0,1,0,0,0,0,0,0,0,0,1,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0
5,0,0,0,1,1,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,1
6,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1
7,0,1,1,1,1,1,1,0,0,1,0,1,1,1,0,1,0,0,0,0,0,0,0,0,0,1,1,1
8,1,1,1,1,0,1,0,1,0,0,0,0,1,1,0,1,0,0,0,0,0,0,0,0,0,1,1,1
9,1,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0

In [ ]:
# df_sintomas_covid.to_csv('/content/PJI410_sintomas_covid.zip', index=False)

## Quantidade de notificações por semana por unidade

In [ ]:
# %%time

# df_notificacoes_por_unidade = df[['DT_NOTIFIC', 'SG_UF_NOT', 'CO_MUN_NOT', 'CO_UNI_NOT']].value_counts().sort_index().reset_index()
# df_notificacoes_por_unidade.columns = ['Data', 'UF', 'Municipio', 'Unidade', 'Quantidade']

# for i, nu in df_notificacoes_por_unidade.iterrows():
#     df_notificacoes_por_unidade.loc[i, 'Segunda-feira'] = nu['Data'] - np.timedelta64(nu['Data'].dayofweek, 'D')

# df_notificacoes_por_unidade.drop(['Data'], axis=1, inplace=True)
# df_notificacoes_por_unidade = df_notificacoes_por_unidade.groupby(by=['Segunda-feira', 'UF', 'Municipio', 'Unidade']).sum().reset_index()

CPU times: user 1h 4min 7s, sys: 14.8 s, total: 1h 4min 21s
Wall time: 1h 4min 24s

In [ ]:
# df_notificacoes_por_unidade.to_csv('/content/PJI410_notificacoes_por_unidade.zip', index=False)

## Quantidade de notificações por semana por município

In [52]:
%%time

df_notificacoes_por_municipio = df[['DT_NOTIFIC', 'SG_UF_NOT', 'CO_MUN_NOT']].value_counts().sort_index().reset_index()
df_notificacoes_por_municipio.columns = ['Data', 'UF_Codigo', 'Municipio_Codigo', 'Quantidade']

for i, nm in df_notificacoes_por_municipio.iterrows():
    df_notificacoes_por_municipio.loc[i, 'Segunda-feira']  = nm['Data'] - np.timedelta64(nm['Data'].dayofweek, 'D')
    df_notificacoes_por_municipio.loc[i, 'UF_Nome']        = df_populacao['Nome'][df_populacao['UF'] == nm['UF_Codigo']].values[0]
    df_notificacoes_por_municipio.loc[i, 'Municipio_Nome'] = df_municipios['Municipio'][df_municipios['Codigo'] == nm['Municipio_Codigo']].values[0]

df_notificacoes_por_municipio.drop(['Data'], axis=1, inplace=True)
df_notificacoes_por_municipio = df_notificacoes_por_municipio.groupby(by=['Segunda-feira', 'UF_Codigo', 'UF_Nome', 'Municipio_Codigo', 'Municipio_Nome']).sum().reset_index()

CPU times: user 6min 52s, sys: 5.17 s, total: 6min 58s
Wall time: 6min 56s

In [53]:
df_notificacoes_por_municipio[:5]

,Segunda-feira,UF_Codigo,UF_Nome,Municipio_Codigo,Municipio_Nome,Quantidade
0,2020-12-28,AL,Alagoas,270915,TEOTONIO VILELA,1
1,2020-12-28,AM,Amazonas,130260,MANAUS,4
2,2020-12-28,AM,Amazonas,130290,MAUES,1
3,2020-12-28,BA,Bahia,290130,ANDARAI,1
4,2020-12-28,BA,Bahia,290630,CANAVIEIRAS,1

In [55]:
# df_notificacoes_por_municipio.to_csv('/content/PJI410_notificacoes_por_municipio.csv', index=False)

## Quantidade de notificações por dia da semana

In [ ]:
dias = {0: 'Segunda', 1: 'Terça', 2: 'Quarta', 3: 'Quinta', 4: 'Sexta', 5: 'Sábado', 6: 'Domingo'}

df['DT_NOTIFIC'].groupby(df['DT_NOTIFIC'].dt.weekday).count().rename(index=dias)

DT_NOTIFIC
Segunda    445374
Terça      378247
Quarta     365005
Quinta     354834
Sexta      336280
Sábado     204138
Domingo    193962
Name: DT_NOTIFIC, dtype: int64

## Presença de sintomas em notificações por semana

In [ ]:
campos = ['DT_NOTIFIC', 'FEBRE', 'TOSSE', 'GARGANTA', 'DISPNEIA', 'DESC_RESP', 'SATURACAO',
          'DIARREIA', 'VOMITO', 'DOR_ABD', 'FADIGA', 'PERD_OLFT', 'PERD_PALA', 'OUTRO_SIN']

filtros = [df[c].isin([1, 2]) for c in campos[1:]]

filtro = np.vstack(filtros).all(axis=0)

df_sintomas_semana = df[campos][filtro].reset_index(drop=True)

df_sintomas_semana[campos[1:]] = df_sintomas_semana[campos[1:]].replace({2: 0}).astype('int')

df_sintomas_semana = df_sintomas_semana.groupby(['DT_NOTIFIC']).sum().reset_index()

df_sintomas_semana['QUANTIDADE'] = list(df['DT_NOTIFIC'][df['DT_NOTIFIC'].isin(df_sintomas_semana['DT_NOTIFIC'])].value_counts().sort_index())

for i, ss in df_sintomas_semana.iterrows():
    df_sintomas_semana.loc[i, 'Segunda-feira'] = ss['DT_NOTIFIC'] - np.timedelta64(ss['DT_NOTIFIC'].dayofweek, 'D')

df_sintomas_semana.drop(['DT_NOTIFIC'], axis=1, inplace=True)

df_sintomas_semana = df_sintomas_semana.groupby(by=['Segunda-feira']).sum().reset_index()

for campo in campos[1:]:
    df_sintomas_semana[campo] = df_sintomas_semana[campo] / df_sintomas_semana['QUANTIDADE']

df_sintomas_semana.drop(['QUANTIDADE'], axis=1, inplace=True)

campos = ['Segunda-feira', 'Febre', 'Tosse', 'Dor de Garganta', 'Dispneia', 'Desconforto Respiratório', 'Saturação O2 < 95%',
          'Diarreia', 'Vômito', 'Dor Abdominal', 'Fadiga', 'Perda do Olfato', 'Perda do Paladar', 'Outros Sintomas']

df_sintomas_semana.columns = campos

df_sintomas_semana = df_sintomas_semana.melt(id_vars='Segunda-feira', var_name='Sintoma', value_name='Presença')

df_sintomas_semana['Sintoma'] = pd.Categorical(df_sintomas_semana['Sintoma'], campos[1:])

df_sintomas_semana = df_sintomas_semana.sort_values(['Segunda-feira', 'Sintoma']).reset_index(drop=True)

In [ ]:
df_sintomas_semana[:5]

  Segunda-feira                   Sintoma  Presença
0    2020-12-28                     Febre  0.172973
1    2020-12-28                     Tosse  0.227027
2    2020-12-28           Dor de Garganta  0.054054
3    2020-12-28                  Dispneia  0.264865
4    2020-12-28  Desconforto Respiratório  0.254054

In [ ]:
# df_sintomas_semana.to_csv('/content/PJI410_sintomas_semana.csv', index=False)

## Anotações

In [ ]:
# Campos relativos à vacina contra COVID-19.

campos = ['VACINA_COV', 'FNT_IN_COV',
          'DOSE_1_COV', 'FAB_COV_1', 'LOTE_1_COV',
          'DOSE_2_COV', 'FAB_COV_2', 'LOTE_2_COV',
          'DOSE_REF', 'FAB_COVREF', 'LOTE_REF',
          'DOSE_2REF', 'FAB_COVRF2', 'LOTE_REF2']

df[campos].info(show_counts=True)

In [ ]:
# PCR_RESUL - Resultado do teste de RT-PCR / outro método por Biologia Molecular.
# 1 - Detectável
# 2 - Não detectável
# 3 - Inconclusivo
# 4 - Não realizado
# 5 - Aguardando resultado
# 9 - Ignorado

df['PCR_RESUL'].value_counts(dropna=False).sort_index()

1      932142
2      523253
3        4037
4      221199
5      337159
9      260050
NaN         0
Name: PCR_RESUL, dtype: Int64

In [ ]:
# RES_AN - Resultado do Teste Antigênico

# 1 - Positivo
# 2 - Negativo
# 3 - Inconclusivo
# 4 - Não realizado
# 5 - Aguardando resultado
# 9 - Ignorado

df['RES_AN'].value_counts(dropna=False).sort_index()

1      414000
2      190225
3         307
4      418919
5      925238
9      329151
NaN         0
Name: RES_AN, dtype: Int64

In [44]:
with pd.option_context('display.max_seq_items', None):
    display(df.columns)

Index(['DT_NOTIFIC', 'SEM_NOT', 'DT_SIN_PRI', 'SEM_PRI', 'SG_UF_NOT',
       'CO_REGIONA', 'CO_MUN_NOT', 'CO_UNI_NOT', 'CS_SEXO', 'DT_NASC',
       'CS_GESTANT', 'CS_RACA', 'CS_ESCOL_N', 'SG_UF', 'CO_RG_RESI',
       'CO_MUN_RES', 'CS_ZONA', 'FEBRE', 'TOSSE', 'GARGANTA', 'DISPNEIA',
       'DESC_RESP', 'SATURACAO', 'DIARREIA', 'VOMITO', 'OUTRO_SIN', 'PUERPERA',
       'FATOR_RISC', 'CARDIOPATI', 'HEMATOLOGI', 'SIND_DOWN', 'HEPATICA',
       'ASMA', 'DIABETES', 'NEUROLOGIC', 'PNEUMOPATI', 'IMUNODEPRE', 'RENAL',
       'OBESIDADE', 'OBES_IMC', 'OUT_MORBI', 'VACINA', 'DT_UT_DOSE', 'MAE_VAC',
       'DT_VAC_MAE', 'M_AMAMENTA', 'DT_DOSEUNI', 'DT_1_DOSE', 'DT_2_DOSE',
       'HOSPITAL', 'DT_INTERNA', 'SG_UF_INTE', 'CO_RG_INTE', 'CO_MU_INTE',
       'UTI', 'DT_ENTUTI', 'DT_SAIDUTI', 'SUPORT_VEN', 'RAIOX_RES', 'DT_RAIOX',
       'AMOSTRA', 'DT_COLETA', 'TP_AMOSTRA', 'PCR_RESUL', 'DT_PCR',
       'POS_PCRFLU', 'TP_FLU_PCR', 'PCR_FLUASU', 'PCR_FLUBLI', 'POS_PCROUT',
       'PCR_VSR', 'PCR_PARA1', 'PCR_PARA2', 'PCR_PARA3', 'PCR_PARA4',
       'PCR_ADENO', 'PCR_METAP', 'PCR_BOCA', 'PCR_RINO', 'PCR_OUTRO',
       'CLASSI_FIN', 'CRITERIO', 'EVOLUCAO', 'DT_EVOLUCA', 'DT_ENCERRA',
       'DT_DIGITA', 'PCR_SARS2', 'PAC_COCBO', 'DOR_ABD', 'FADIGA', 'PERD_OLFT',
       'PERD_PALA', 'TOMO_RES', 'DT_TOMO', 'TP_TES_AN', 'DT_RES_AN', 'RES_AN',
       'POS_AN_FLU', 'TP_FLU_AN', 'POS_AN_OUT', 'AN_SARS2', 'AN_VSR',
       'AN_PARA1', 'AN_PARA2', 'AN_PARA3', 'AN_ADENO', 'AN_OUTRO', 'TP_AM_SOR',
       'DT_CO_SOR', 'TP_SOR', 'DT_RES', 'VACINA_COV', 'DOSE_1_COV',
       'DOSE_2_COV', 'DOSE_REF', 'FAB_COV_1', 'FAB_COV_2', 'FAB_COVREF',
       'LOTE_REF', 'LOTE_1_COV', 'LOTE_2_COV', 'FNT_IN_COV', 'DOSE_2REF',
       'FAB_COVRF2', 'LOTE_REF2'],
      dtype='object')